/venv/
/.venv/
/excel/migrations/0001_initial.py
/auth_app/migrations/0001_initial.py
/db.sqlite3/
/.env/
/projects/migrations/*
/projects/__pycache__/*
/excel/migrations/*
/estimation/migrations/*
/auth_app/migrations/*
.DS_Store
*.pyc
__pycache__/
/core/migrations/*
db.sqlite3
media/Syed Umair ul hassan/BOQ/Bill_No_BVq91Np._5_Style_2_3BR_Cluster_2-Plex.xlsx
media/Syed Umair ul hassan/BOQ/Bill_No_oEeUdpS._6_Style_2_4BR_Cluster_2-Plex.xlsx
.gitignore
media/Syed Umair ul hassan/BOQ/Bill_No_Q4KLrEF._2_Style_1_3BR_Cluster_2-Plex.xlsx
media/Syed Umair ul hassan/BOQ/Bill_No._6_Style_2_4BR_Cluster_2-Plex.xlsx
.gitignore
media/Syed Umair ul hassan/BOQ/Copy_of_BOQ-The_Residence_BK-PTA09-Rev1_1.xlsx
media/Syed Umair ul hassan/BOQ/Bill_No._5_Style_2_3BR_Cluster_2-Plex.xlsx
media/Syed Umair ul hassan/BOQ/Bill_No._4_Style_1_5BR_Cluster_2-Plex.xlsx
