/venv/
/.venv/
/excel/migrations/0001_initial.py
/auth_app/migrations/0001_initial.py
/db.sqlite3/
/.env/
/admin.pyc/*
/core/migrations/*
/estimation/migrations/*
/planning/migrations/*
/core/__pycache__/*
/estimation/__pycache__/*
/planning/__pycache__/*
/projects/__pycache__/*
/tests/__pycache__/*
/planning/migrations/*
/db.sqlite3
/api/__pycache__/*
/api/migrations/*
/backend/__pycache__/*
/planning/__pycache__/*
/projects/migrations/*
db.sqlite3
